
.LayoutWithSidebars {
    background-color: unset;
}
.Content {
  width: 100%;
  margin: 0;
  padding: 0;

  @media (max-width: 768px) {
    padding: 0 16px; // Optional: keeps content readable on small screens
  }
}
